# .env file in your project root (same level as package.json)

# Remove test mode
# VITE_SKIP_AUTH=true

VITE_AUTH0_DOMAIN=<YOUR-AUTH-DOMAIN>
VITE_AUTH0_CLIENT_ID=<AUTH-CLIENT ID>
VITE_AUTH0_CLIENT_SECRET=<MY AUTH0 SECRET>
VITE_AUTH0_AUDIENCE=<MY AUDIENCE>       # Must match exactly what you set in Auth0 API settings
# VITE_API_URL=http://localhost:4000/api
VITE_API_URL=http://localhost:8000/api
